.navbar{
    width: 100%;
    height: var(--nav--bar-height);
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    transition: all .2s ease-in;
}

.scrolled {
    opacity: 0.5;
}

.scrolled:hover, .scrolled:active, .scrolled:focus{
    opacity: 1.0;
    transition: all .1s ease-in;
}