.carousel {
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
}

@media (max-width: 600px) {
    .height-carousel {
        height: 100px;
    }
}

@media (max-width: 900px) {
    .height-carousel {
        height: 150px;
    }
}

@media (max-width: 1200px) {
    .height-carousel {
        height: 200px;
    }
}

@media (max-width: 1536px) {
    .height-carousel {
        height: 250px;
    }
}

.height-carousel {
    height: 300px;
}