@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.h-1\/10 {
    height: 10%;
}

/* Media queries for the height of the sticky bar */

@media (min-width: 320px) and (max-width: 480px) {
    .h-sticky {
        height: 32px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .h-sticky {
        height: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .h-sticky {
        height: 48px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .h-sticky {
        height: 56px;
    }
}

@media (min-width: 1201px) {
    .h-sticky {
        height: 64px;
    }
}

/* Media queries for the height of the searchbar */

@media (min-width: 320px) and (max-width: 480px) {
    .h-searchbar {
        height: 22px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .h-searchbar {
        height: 24px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .h-searchbar {
        height: 28px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .h-searchbar {
        height: 30px;
    }
}

@media (min-width: 1201px) {
    .h-searchbar {
        height: 34px;
    }
}

/* Media queries for the width of the searchbar */

@media (min-width: 320px) and (max-width: 480px) {
    .w-searchbar {
        width: 100px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .w-searchbar {
        width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .w-searchbar {
        width: 300px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .w-searchbar {
        width: 300px;
    }
}

@media (min-width: 1201px) {
    .w-searchbar {
        width: 400px;
    }
}

/* Media queries for the width of the dataset selector */

@media (min-width: 320px) and (max-width: 480px) {
    .font-bar {
        font-size: 12px !important;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .font-bar {
        font-size: 12px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .font-bar {
        font-size: 14px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .font-bar {
        font-size: 15px !important;
    }
}

@media (min-width: 1201px) {
    .font-bar {
        font-size: 15px !important;
    }
}

/* Media queries for the font size of the sticky header */
@media (min-width: 320px) and (max-width: 480px) {
    .w-selector {
        width: 40px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .w-selector {
        width: 120px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .w-selector {
        width: 120px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .w-selector {
        width: 140px;
    }
}

@media (min-width: 1201px) {
    .w-selector {
        width: 160px;
    }
}

.w-1\/10 {
    width: 10%;
}

.px-1\/80 {
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.w-98 {
    width: 98%;
}

.pl-3 {
    padding-left: 1rem;
}

.h-9\/10 {
    height: 90%;
}