@tailwind base;
@tailwind components;
@tailwind utilities;

.h-1\/20 {
    height: 5%;
}

.h-11\/2vh {
    height: 5.5vh;
}

.h-50px {
    height: 400px;
}

.h-30px {
    height: 30px;
}

.w-2\/19 {
    width: 10%;
}

.min-w-screen {
    min-width: 100vw;
}

.px-1\/80 {
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.w-98 {
    width: 98%;
}

.pl-1\% {
    padding-left: 1%;
}