@tailwind base;
@tailwind components;
@tailwind utilities;

.h-1\/20 {
    height: 5%;
}

.h-11\/2vh {
    height: 5.5vh;
}

.h-1\/10 {
    height: 10%;
}

.h-1\/16 {
    height: 6.25%;
}

.h-50px {
    height: 400px;
}

.h-30px {
    height: 30px;
}
.h-920px {
    height: 920px;
}


.h-search {
        height: 180px;
}

.h-searchbar {
    height: 37px;
}

@media (min-width: 100px) {
    .w-searchbar {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .w-searchbar {
        width: 400px;
    }
}

.w-2\/19 {
    width: 10%;
}

.w-1\/10 {
    width: 10%;
}

.min-w-screen {
    min-width: 100vw;
}

.px-1\/80 {
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.w-98 {
    width: 98%;
}

.pl-3 {
    padding-left: 1rem;
}